<navbar></navbar>

<div class="container">
  <div class="row">
    <h1>Košarica</h1>
    <ngcart-cart template-url="components/ngcart/cart.html"></ngcart-cart>
  </div>

  <div class="row">
    <h1>Izaberite metodu plaćanja</h1>
    <p class="help-block">{{ errors }}</p><br>
    <div class="col-md-12">
      <form>
        <braintree-dropin options="paymentOptions">Loading...</braintree-dropin>
        <input type="submit" class="btn btn-primary btn-lg" value="Kupi" />
      </form>
    </div>
  </div>
</div>

<footer></footer>
